{% extends "::modelcatalogue.html.twig" %}

{% block title %}Administration collections| ajout{% endblock %}

{% block encodage %}
   {{ parent() }}
 {% endblock %} 
 
 
 
 {% block corps %}
 {% if is_granted('ROLE_ADMIN') %}
   <h1>Ajout d'une collection</h1>
   
   <form action="{{ path('ifrikiya_admin_ajouter_genre') }}" method="post" {{ form_enctype(form) }}>
    <div class="error">
	{{ form_errors(form) }}
    </div>
    <table>
     <tr>
       <td>{{ form_label(form.libelle) }}</td>
       <td>{{ form_errors(form.libelle) }}</td>
	   <td>{{ form_widget(form.libelle) }}</td>
	 </tr>
	</table>
	 
    {{ form_rest(form) }}
    
    <input type="submit" />
</form>
 {% endif %}
 {% endblock %}